.single-state {


    .state__header {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .state__name {
            font-size: 3em;
            color: #fff;

            a{
                color: #fff;
            }


            @include breakpoint(laptop) {
                font-size: 6em;
            }
        }

        .state__motto{

            margin:0 auto 0.5em;
        }

    }
}


.state__images {
    display: flex;

    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    flex-direction: column;

    @include breakpoint(laptop) {
flex-direction: row;
        max-width: 80%;
    }

    img {
        margin: 1em;
        width: 80%;
        
        @include breakpoint(laptop) {
            width: 40%;
        }
    }

    .state__flag{
        @include card(1);
    }

    .dynamicMap{
        width: 80%;

        @include breakpoint(laptop){
            width: 50%;
        }
    }


}


.state__meta {
    ul {

        display: flex;
        margin: 0;
        padding: 0;
        color: #aaa;

        li {
            list-style: none;
            margin: 0;
            color: #fff;
            border-right: 1px solid #aaa;
            padding: 0.1em 0.5em;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include breakpoint(laptop){

                flex-direction: row;
            }



            &:last-of-type{
                border-right: none;
            }

            .value{
                order: -1;
                font-weight: 700;
                font-size: 1.25em;

                @include breakpoint(laptop){

                    order: unset;
                    margin-left: 0.15em;
                }
            }


            i, svg {
                font-size: 2em;
                vertical-align: middle;
                margin: 0 0.25em;
            }
        }
    }
}


.state__representatives{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;

    margin: 0 auto;
    h2{
        text-align: center;
    }

    @include breakpoint(laptop){

        width: 80%;


    }
}