button{

    background: $mainColor;
    color: #fff;
    border: none;
    padding: 0.5em 1em;

    cursor: pointer;

    border-radius: 5px;

    &.btn-alt{
        color: $mainColor;
        background: none;
        border: 2px solid $mainColor;

        &:hover{
            background: $lighterColor;
            color: #fff;
        }
    }


    &.button--large{
        font-size: 1.25rem;
        padding: 0.5em 2em;
        font-weight: 900;

        @include breakpoint(laptop){
            font-size: 2rem;
        }
    }

    
}


a.button{
    @extend button
}