.card-grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    @include breakpoint(laptop){

        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card{

    background: #fff;
    padding: 0.5em;
    margin: 0.5em;

    @include card(1);
}


.card--person{

    h3{
        margin: 0;
    }
}