.card-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    width: 100%;



    @include breakpoint(laptop) {
        width: 80%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1em;

    }


    &.two-column {
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint(laptop) {

            width: 53%;

        }
    }
}

.card {

    background: #fff;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;

    @include card(1);
}


.card--person {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    img {
        border-radius: 6px 6px 0 0;

    }

    .card__content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;


        @include breakpoint(laptop) {

            grid-template-columns: 2fr 1fr;
        }
    }

    h3 {
        margin: 0.25em auto;
        display: flex;
        align-items: center;
        text-align: center;

        @include breakpoint(laptop) { 
        margin: 0.25em 0;

            text-align: left;
        }

    }


    .party {
        font-size: 1.5em;

        margin-left: auto;
        font-family: $font-family--body;
    }



    &.card--republican {

        .party {
            color: var(--republican-color);
        }
    }

    &.card--democrat {

        .party {
            color: var(--democrat-color);
        }
    }

    &.card--independent {

        .party {
            color: var(--independent-color);
        }
    }
}



.card--issue {

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        svg {
            font-size: 3em;
        }
    }
}