.people__header {

    width: 100%;
    // min-height: 25vh;
    // border-bottom: 15px solid $black;

    background: url('assets/img/dark-honeycomb.png');
    @include card(-2);

    position: relative;


    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr;

    grid-column-gap: 1em;
    padding: 1em;
    grid-auto-flow: dense;
    z-index: 2;

    @include breakpoint(laptop) {

        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        justify-content: flex-end;
    }

    .header__content {
        position: relative;
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1fr;

        grid-column-gap: 1em;
        padding: 1em;
        grid-auto-flow: dense;
        z-index: 2;

        @include breakpoint(laptop) {

            justify-content: flex-end;
        }
    }

    .people__name, .people__title, .people__actions{

        background: $bgColor;
        padding: 0.25rem;
        margin: 0 auto;
        width: 100%;
        
        @include breakpoint(laptop){
            
            padding-left: 1rem;

        }

    }

    .people__name {

        grid-column: 1;
        


        font-size: 3em;
        text-align: center;

        color: #fff;

        .party{
            font-size: 0.5em;
            vertical-align:middle;
            &:hover{
                opacity: 0.8;
            }


            &--republican{

                color: var(--republican-color);
            }

            &--democrat{

                color: var(--democrat-color);
            }

            &--independent{

                color: var(--independent-color);
            }
        }




        @include breakpoint(laptop) {

            text-align: left;

            font-size: 4em;
        }
    }

    .people__title {
        
        grid-column: 1;
        text-align: center;
        font-weight: 100;
        font-family: $font-family--body;
        font-size: 1.5em;
        

        @include breakpoint(laptop){
            text-align: left;
        font-size: 2em;

        }
        

    }

    .people__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        grid-column: 1;
        margin: 0;
        padding: 0.25rem;


        @include breakpoint(laptop){
            justify-content: flex-start;


        }
        


        li {
            list-style: none;
            padding: 0.25em 0.5em;
            margin: 0;
        }

        .social-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            i, svg {
                font-size: 2em;
            }
        }
    }

    .people__headshot {

        width: 75%;
        margin: 0.5em auto;

        grid-row: 1;
        border-radius: 10px;

        border: 2px solid #fff;


        


        @include breakpoint(laptop) {
            margin: 1em 0;
            width: 100%;


            grid-row: 1 / span 3;
            align-self: center;
            grid-column: 3;

        }


    }

    .people__banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden;


        img {

            width: 100%;
            height: auto;
            position: absolute;
            display:block;
            left: 0;
            z-index: 1;

            @include breakpoint(laptop){
                top: -25%;

            }

        }
    }

}

.people__subpage-nav {

    width: 100%;

    ul {
        display: flex;

        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

        li {
            margin: 0;
            display: block;
            width: 100%;

            a {
                display: block;

                width: 100%;
                text-align: center;
                font-size: 1.25em;
                padding: 1em;

                &.current {
                    font-weight: 700;

                    border-bottom: 3px solid $mainColor;

                    background: $mainColor;
                    color: #fff;
                }

                &:hover {
                    background: lighten($mainColor, 20);
                    border-bottom: 3px solid $mainColor;

                }

            }
        }
    }


    @include breakpoint(mobileonly){

        width: 100vw;
        overflow-y: scroll;

        ul{
            justify-content: flex-start;

            li{
                white-space: nowrap
            }
        }
    }

}




@import "people-card";