.card-grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    @include breakpoint(laptop){

        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card{

    background: #fff;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;

    @include card(1);
}


.card--person{


    img{
    border-radius: 6px 6px 0 0;

    }
    h3{
        margin: 0.25em 0;
    }
}