.banner{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 0.25em;

    &.white{
        background: #fff;

        color: #333;

        & >h1, >h2, >h3, >h4, >p{
            color: #333;
        }
    }

    &.blue{
        background: var(--democrat-color);

        color: #fff;

        & >h1, >h2, >h3, >h4, >p{
            color: #fff;
        }
    }

    &.red{
        background: var(--republican-color);

        color: #fff;

        & >h1, >h2, >h3, >h4, >p{
            color: #fff;
        }
    }

    &.purple{
        background: $mainColor;

        color: #fff;

        & >h2, >h3, >h4{
            color: #fff;
        }
    }

    &.darker{

        background: $darkerColor;

        color: #fff;
        @include card(-1);

        & >h2, >h3, >h4{
            color: #fff;
        }
    }

    &.half-purple{

        background: linear-gradient(to bottom, $mainColor 50%, transparent 50%);
        & >h2, >h3, >h4{
            color: #fff;
        }
    }

    & > h1{
        margin:0.5em;
    }

    & > .searchBar{
        margin-bottom: 1em;
    }
}