.group {
    position: relative;
}

.material_input {
    /*height: 2em;*/
    display: block;
    width: 100%;
    margin: 1em 0 2em;

    input {
        border: none;
        border-bottom: 2px solid;
        line-height: 1.5em;
        height: 1.5em;
        font-size: 1em;
        width: 100%;
        padding: 0.5em;

        transition: .2s;

        &::placeholder {
            transition: .2s;
            padding-left: 0.25em;
            opacity: 0;
        }


        &:focus,
        &:valid {
            outline: none;
            border-bottom: 2px solid $mainColor;

            &::placeholder {
                opacity: 0.5;
                transition: .2s ease .3s;

            }

            &~label {
                top: 0;
                transform: translate(0, -110%);
                color: $mainColor;
                font-size: 0.8em;
                opacity: 1;
            }
        }
    }

    label {
        position: absolute;
        left: 0.25em;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0.5;
        @include transition(all .3s ease);
    }

    textarea {
        @extend input;
        line-height: 1.5em;

        height: 1.5em;

        &:focus,
        &:valid {
            height: 5em;
        }
    }

    input[type="submit"] {
        @extend input;
        border: 0;
        background: $mainColor;
        color: #fff;
        padding: 0.5em 0;
        height: auto;
        @include transition(all .3s ease .3s);

        &:hover {
            background: saturate($mainColor, 30);
        }
    }


    &.select {

        display: flex;
        align-items: center;
        justify-content: center;

        label {
            position: relative;
            left: unset;
            top: unset;
            transform: none;

            margin-right: 0.25em;
            &:after {
                content: ':';
            }


        }

        select {
            width: 100%;
        }


    }

}