.dipshit-meter__container {

    position: relative;

    padding: 1vw;

    text-align: center;

    @include breakpoint(laptop) {
        padding: 5vh;
    }
}

#dipshitMeter {
    height: auto;
    margin: 1em auto;
    width: 100%;

    @include breakpoint(laptop) {
        width: 95%;

        margin: 4em auto 1em;
    }

    .dipshit__dot {

        text {
            display: none;

        }

        &:first-of-type,
        &:last-of-type {
            text {
                display: block;
                opacity: 0.4;
            }
        }



        &.selected {

            circle,
            path {
                fill: $accentColor;
                filter: drop-shadow(0 1px 2px #000);
            }

            circle {
                fill: darken($accentColor, 10);
            }


            text {
                display: block;
                opacity: 1;
            }
        }
    }




    &.no-data {
        opacity: 0.5;
        position: absolute;

        filter: blur(2px);
        display: block;
        z-index: -1;


        @include breakpoint(laptop) {}

        * {
            fill: lighten($bgColor, 10) !important;
        }

    }
}


.dipshit__conclusion {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;

    &>span {

        font-size: 2em;
        text-transform: uppercase;
        margin: 0.25em;
        line-height: 1em;
    }
}

.dipshit__proof {

    display: grid;

    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    // border-top: 5px solid #fff;
    padding: 1em;
    width: 90%;

    @include breakpoint(laptop) {
        width: 50%;

        grid-template-columns: 1fr 1fr;


    }

    h2:first-of-type {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 2em;
        margin: 0 auto 0.5em;
    }

    .proof {

        font-size: 1.5em;
        color: #fff;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;

        border-bottom: 2px solid #fff;

        @include breakpoint(laptop) {
            justify-content: center;
            text-align: center;

            border-right: 2px solid #fff;
            border-bottom: none;
            flex-direction: column;


        }

        &>span {
            text-align: left;

            font-size: 1.5em;
            font-weight: 900;
            margin: 0.5em;
        }


        &:last-of-type {
            border-right: none;
            border-bottom: none;

        }
    }


}


.dipshit__submit-box {


    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;


    @include breakpoint(laptop) {
        width: 50%;
    }


    h1,
    h2 {
        word-wrap: break-word;
        color: #fff;

    }

    p {
        color: #fff;
        margin: 1em;

        a{color: #fff;}
    }
}