$headerIconSize:1.5rem;

.site-header {

    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $mainColor;
    color: $mainTextColor;
    position: relative;
    z-index: 99999;
    @include card(1);

    @include breakpoint(laptop) {

        padding: 0 10vw;
    }

    .site-logo {
        color: #fff;
        background: #fff;
        padding: 0.5em 1em;

        @include breakpoint(laptop) {

            transform-origin: 50% 0;
            @include card(1);
            border-radius: 0 0 0.5em 0.5em;
            transform: scale(1.1);
        }


        a,
        h1 {
            color: inherit;
            margin: 0;
            text-align: center;
            font-size: 1.25em;
            max-width: 100%;

            @include breakpoint(laptop) {
                font-size: 2em;
            }

            img {
                width: auto;
                height: 3em;
            }
        }
    }

    @include breakpoint(medium) {
        padding: 1em;

    }


}