.site-header {

    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $mainColor;
    color: #fff;
    padding: 0.5em;
    position:relative;

    .site-logo {
        color: #fff;

        a,
        h1 {
            color: inherit;
            margin: 0;
            text-align: center;
            font-size: 1.25em;

            @include breakpoint(laptop){
                font-size: 2em;
            }
        }
    }

    @include breakpoint(medium) {
        padding: 1em;

    }
}