#searchBar {

    display: none;

    button[type=submit] {
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        background: $mainColor;

    }

    input {
        margin: 0;
    }


    &.is-open {

        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: 6fr 1fr;
        transform: translatey(100%);
        background: $darkerColor;
        padding: 0.5em;
        z-index: 9999;

        @include card(5);

    }


    @include breakpoint(laptop) {

        display: grid;
        grid-template-columns: 6fr 1fr;
        position: relative;

        input {
            display: none;
        }

        &.is-open {

            position: relative;
            width: auto;
            bottom: 0;
            left: 0;

            transform: none;
            background: none;
            padding: 0.5em;

            input {
                display: block;
            }
        }


    }

    &.large {
        width: 80%;

        input {
            font-size: 2em;
        }
    }

}


#mobileSearchToggle {

    font-size: 2em;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;


    @include breakpoint(laptop) {
        display: none;
    }


}


#searchBarZip {

    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 1em;
    
    @include breakpoint(laptop){
        width: auto;

    }


    input {
        font-size: 2em;
        margin: 0;
        text-align: center;
        margin-left: auto;
        width: 100%;

        @include breakpoint(laptop) {

            width: 20rem;
            font-size: 4em;
        }
    }

    button[type=submit] {
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        background: $mainColor;

        i, svg {

            font-size: 2rem
        }

    }
}


#searchBarFull {

    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 100%;
    max-width: 80vw;

    @include breakpoint(laptop){

        max-width: 50vw;
    }



    input {
        font-size: 2em;
        margin: 0;
        width: 100%;
    }

    button[type=submit] {
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        background: $mainColor;

    }
}