.separator{

    font-size: 1em;

    background: $mainColor;
    color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    align-items: center; justify-content: center;
    display: flex;
    margin: 0.5em auto;
    position: relative;


    @include breakpoint(laptop){
        font-size: 2em;
        margin: 1.5em auto;

        width: 3em;
        height: 3em;
        border-radius: 3em;

    }

    &:before, &:after{

        width:  20vw;
        height: 0.25em;
        background: #fff;
        content: '';
        position: absolute;
    }

    &:before{
        left: 120%;
    }


    &:after{
        right: 120%;
    }

}