.page {


    .page__title {

        h1 {

            @include breakpoint(laptop) {
                font-size: 5em;
            }

            a {
                color: #fff;
            }
        }
    }


    .page__content {

        max-width: 95%;
        min-height: 40vh;
        margin: 1em auto;


        @include breakpoint(laptop) {
            margin: 3em auto;
            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }


}


.navigation.pagination {

    width: 80%;
    padding: 1em;
    color: $mainColor;
    background: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .screen-reader-text {
        font-size: 0;
        margin: 0;
    }

    .page-numbers {

        padding: 0.25em;

        &.current{
            color: #333;
        }

    }
}