.evidence-grid {

    @extend .card-grid;

    margin: 1em auto;

    grid-template-columns: 1fr;

    width: 95%;

    @include breakpoint(laptop) {
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
}


.evidence__card {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .evidence__card-content {
        width: 100%;
        padding: 0 0.25em;

        @include breakpoint(laptop) {
            padding: 0 1em;

        }
    }

    .evidence__title {

        margin: 0;
        text-align: center;
    }



}


.evidence__voting-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: center;
    padding: 0.5em 1em;
    width: 100%;



    .evidence__score {
        margin: 0;
        text-align: center;
        align-self: center;
    }

    .button {
        min-height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background: #ccc;

        &:hover {
            background: $mainColor;
        }

        &.voted{
            background: $mainColor;
            font-weight: bold;
        }
    }
}



.evidence__og-data {
    border: 1px solid gray;
    background: $bgColor;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    width: 100%;

    .og__img {
        grid-row: 1 / span 3;
        display: block;
    }


    p {
        font-size: 0.8em;
        color: #fff;
        padding: 0em 1em;

        @include breakpoint(laptop) {
            font-size: 1em;


        }
    }

    .evidence__title {

        font-weight: bold;
        text-align: left;
    }

    .evidence__description {
        margin: 0;
        opacity: 0.8;
        // display: none;
    }

    .evidence__source {
        font-family: $font-family--body;
        margin: 0 0 0.5em;
        text-align: right;
        color: #aaa;
    }
}